html {
    font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: 580; background-color: rgb(255, 255, 255); box-sizing: border-box;  
}
body {
    margin: 0px 0px;
}
header {
    background-color: rgb(255, 255, 255); border-bottom: solid rgb(223, 223, 223) 1px;
}
nav {
    height: 160px; width: 100%; 
}
nav ul, nav h1  {
    display: inline-block;
}
h1 {
    font-family: 'Overpass', sans-serif; cursor:not-allowed;
    font-size: 62px;
    margin-left: 20px; margin-top: 40px; margin-bottom: 18px; margin-right: 20px;  

    }
ul {
    list-style-type: none;
    margin-top: 0px; padding: 0px;
}
nav ul li {
    display: inline-block;
    line-height: 90px;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none; color: black;
    font-size: 20px; vertical-align: 10%;
    padding: 7px 13px; border-radius: 3px;
}
a .active, a:hover {
    color: white; background: rgb(71, 71, 71); transform: .5s;
}
.img{
    height: 100px;
    width: 100px;
    position: absolute;
    display: inline-block;
    right: 0.2%;
    margin-top: 10px;

}
.Page2 {
    margin: 0 2%
}
/* Button tab section, uses JS from web, not fully understood vid: (coding nepal Responsive Nav menu */
.checkbtn {
    font-size: 50px; margin-right: 20px; line-height: 160px; cursor: pointer;
    display: none; float: right;
}
#check {
    display: none;
}
@media (max-width: 880px) {
    header .img {
        display: none;
    }
}
@media (max-width: 880px) {
    .checkbtn{
        display: block;
    }
     nav ul {
        position: fixed; width: 100%; height: 100vh;
        background-color: rgb(255, 255, 255); 
        top: 160px; left: -100%;
        text-align: center;
        transition: all .5s;    
    }
    nav ul li {
        display: block;
    }
    #check:checked ~ ul {
        left:0;
    }  
}
/* This method here needs more to work
.Main:before,
.Main:after { content:""; display: table;}

.Main:after { clear: both; }
.Main {clear: both; }

.Sidebar {
    float: left;
    margin: 0px 2%; margin-right: 0px;
    width: 16%;
}
.Content {
    float: right;
    margin: 0px 2%; margin-left: 0px;
    width: 80%;
}
 h2 {
    text-align: center
}
*/

/* grid method for responsive page(phone grid too) */
.Main {
    display:grid; margin-bottom: 40px;
    grid-template-columns: 1fr 4fr; grid-template-areas: "Sidebar Content"; grid-gap: 0.2rem;
}
.Sidebar {
    grid-area: Sidebar;
    margin: 0px 5%; margin-right: 0px;
}
.Content {
    grid-area: Content;
    margin: 0px 2%; margin-left: 0px;
}
@media (max-width: 778px) {
    .Main{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 4fr ;
        grid-template-areas: "Sidebar" "Content" ;
    }
    .Content {
        margin: 0px 2%; ;
}
    .Sidebar h3{
        text-align: center;
    }
    .Sidebar {
        margin: 0 0;
    }
    .Posts, h4 {
        margin-left: 5%;
    }
    
}
/* Stylings */
h3, h2 {
    text-align: center;
}
article p sup {
    margin-left: 2%;
}
.Date {
    border-bottom: solid rgb(223, 223, 223) 1px;
}
h2 { 
    padding-top: 10px;
}
h3 {
    margin-bottom: 5px;
}
h4 {
    font-size: 18px; margin-bottom: 10px;
}
.Suptext {
    margin-left: 0px;
}
p a, .Twitter  {
    color: rgb(32, 32, 32); font-weight: bold;
}
li a {
    color: rgb(32, 32, 32); font-weight: bold; 
}
.TwitterSec {
    text-align: center;
}
.ProfileBox {
    display: flex;
}
.Profile{    
    width: 100%; height: 100%;
    object-fit: contain; max-width: 220px;
    margin-left: auto; margin-right: auto; margin-bottom: 10px;
}
article h3 {
    text-align: left;
   
}
section {
    margin: 0 2%; margin-left: 0px;
}
article {
    margin: 0 1%;
}
.TitleColour {
    background-color: black;color: white;
}
@media (max-width: 438px) {
    h1 {
        font-size: 40px;
}
}
.LinkLine {
    margin-bottom: 26px; margin-top: 22px;  
}
.Inf {
    font-size: 22px;
}
.InfLine {
    border-bottom: solid rgb(223, 223, 223) 1px;
}
.LinkBlocks {
    margin-left: 40px;
}
.InfCaption {
    font-size: 14px;
}
.ErrorImgContainer {
    display: flex;
}
.Errorimg {
    width: 30%; height:30%;
    object-fit: contain; margin-left: auto; margin-right: auto;  
}
p {
    font-family: 'Mulish', sans-serif;
}
.LinkSubBlocks {
    margin-left: -30px;
}
.LinksReads2 {
    margin-top: 65px;
}
